/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
  position: relative;
  min-height: 100vh;
  font-family: 'Roboto Condensed', sans-serif;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F8E9E9;
  padding: 2.5vw 3.5vw;
}

.header>div:first-child {
  display: flex;
  align-items: center;
  font-size: 4.5vw;
}

.gif {
  width: 8vw;
  height: 8vw;
  margin-left: 1vw;
  pointer-events: none;
}

.tabs {
  display: flex;
  font-size: 2.5vw;
}

.menu {
  margin-left: 3.5vw;
  margin-right: 3.5vw;
}

.tab:hover {
  text-decoration: underline .1vw;
  text-underline-offset: .4vw;
  cursor: pointer;
}

/* Home section */
.home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  background-color: white;
}

.welcome {
  display: flex;
}

.section {
  background-color: #F8E9E9;
  filter: brightness(97%);
  padding-left: 4vw;
}

.homeImg {
  width: 50%;
  height: auto;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section h1 {
  color: #E3655B;
  font-size: 5vw;
}

.section p {
  font-size: 2vw;
  padding-right: 3.5vw;
  margin-top: 2.5vw;
  margin-bottom: 2.5vw;
}

.section button {
  font-size: 2vw;
  font-weight: bold;
  padding: 1.5vw 1vw;
  width: 50%;
  border: 2px solid black;
  background-color: white;
  color: black;
  transition: 0.4s ease;
}

.section button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.hours {
  text-align: center;
}

.hours h1 {
  text-align: center;
  color: #E3655B;
  font-size: 4vw;
  margin-top: 3vw;
  margin-bottom: 2vw;
}

.hours p {
  font-size: 1.5vw;
  margin-bottom: 1vw;
}

.hours p:last-child {
  margin-bottom: 6.2vw;
}


/* Menu section */
.menu-section {
  padding-left: 3.5vw;
  padding-right: 3.5vw;
}

.boba,
.noodle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  padding-left: 12vw;
  padding-right: 12vw;
  gap: 5vw;
}

.boba div,
.noodle div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.boba img,
.noodle img {
  width: 20vw;
  height: 20vw;
  object-fit: cover;
  align-self: center;
}

.boba p,
.noodle p {
  margin-top: 1vw;
}

.oreo {
  object-position: 0 -2%;
}

.carm {
  object-position: 0 20%;
}

.pork {
  object-position: 100% 0;
}

.egg {
  object-position: 0 80%;
}

.menu-section h1 {
  color: #E3655B;
  font-size: 7vw;
  margin-top: 3vw;
  margin-bottom: 2vw;
  margin-left: 12vw;
}

.noodle p {
  margin-bottom: 6.2vw;
}

/* Contact section*/

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2vw;
}

.contact-section div {
  display: flex;
  align-items: center;
}

.cell {
  width: 4vw;
  height: auto;
}

.addy {
  width: 4vw;
  height: auto;
}

.contact-section div:first-child {
  margin-top: 3vw;
  margin-bottom: 1vw;
}

.map {
  margin-top: 3vw;
  width: 80%;
  margin-bottom: 6.2vw;
}

/* Footer */
.footer {
  background-color: #F8E9E9;
  text-align: center;
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-size: 1.2vw;
  position: absolute;
  width: 100%;
  bottom: 0;
}